*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* box-sizing: border-box; */
}

body{
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

nav{
    background: #e87146;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    display: flex;
    align-items: baseline;
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a{
    color: white;
    font-size: 17px;
}

nav ul li a:hover{
    color: #584548;
    transition: 0.3s;
}

section{
    position: absolute;
    top: 300px;
    left: 80px;
    width: 70%;
}

section h1{
    color: #e87146;
    font-weight: bold;
    font-size:50px;
}

section p{
    color: #584548;
    font-size: 18px;
}

.secImage img{
    float: right;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 140px;
    height: 500px;
}

footer{
    position: absolute;
    bottom: -180px;
    height: 90px;
    width: 100%;
    background-color: #484548;
    padding: 20px 0px;
    
}

footer ul li p{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

footer .logoFooter{
    color: white;    
    font-weight: bold;
    margin-left: 10px;
    font-size: 13px;
    
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 500px;
    background-image: url(/img/bgAgricultura.png);
    background-size: cover;
    background-position: center;
}

.hero-section h1{   
    height: 28vh;
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.hero-section p{
    margin-top: -100px;
    color: white;
}

.hero-section button{   
    position: relative;
    margin-top: 70px;
    color: white;
    font-size: 18px;
    background: none;
    border: 2px solid white;
    border-radius: 4px;
    width: 240px;
    height: 80px;
    transition: 0.6s;
    overflow: hidden;
   
}

.hero-section button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


