@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* box-sizing: border-box; */
}

body{
    font-family: sans-serif;
    scroll-behavior: smooth;
    
}

nav{
    background: #e87146;
    height: 80px;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    display: flex;
    align-items: baseline;
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a{
    color: white;
    font-size: 17px;
}

nav ul li a:hover{
    color: #584548;
    transition: 0.3s;
}

section{
    position: absolute;
    top: 300px;
    left: 80px;
    width: 70%;
}

section h1{
    color: #e87146;
    font-weight: bold;
    font-size:50px;
}

section p{
    color: #584548;
    font-size: 18px;
}

.secImage img{
    float: right;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 140px;
    height: 500px;
}

footer{
    position: absolute;
    bottom: -180px;
    height: 90px;
    width: 100%;
    background-color: #484548;
    padding: 20px 0px;  
}

footer ul li p{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

footer .logoFooter{
    color: white;    
    font-weight: bold;
    margin-left: 10px;
    font-size: 13px;
    
}

.hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 500px;
    background-image: url(/img/bgAgricultura.png);
    background-size: cover;
    background-position: center;
}

.hero-banner h1{   
    height: 28vh;
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.hero-banner p{
    margin-top: -100px;
    color: white;
}

.hero-banner button{   
    position: relative;
    margin-top: 70px;
    color: white;
    font-size: 18px;
    background: none;
    border: 2px solid white;
    border-radius: 4px;
    width: 240px;
    height: 80px;
    transition: 0.6s;
    overflow: hidden;
}

.hero-banner button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.hero-banner-cl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 500px;
    background-image: url(/img/bgCultivo.png);
    background-size: cover;
    background-position: center;
}

.hero-banner-cl h1{   
    height: 28vh;
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.hero-banner-cl p{
    margin-top: -100px;
    color: white;
}

.hero-banner-cl button{   
    position: relative;
    margin-top: 70px;
    color: white;
    font-size: 18px;
    background: none;
    border: 2px solid white;
    border-radius: 4px;
    width: 240px;
    height: 80px;
    transition: 0.6s;
    overflow: hidden;
}

.hero-banner-cl button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.hero-banner-ia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 500px;
    background-image: url(/img/bgIA.png);
    background-size: cover;
    background-position: center;
}

.hero-banner-ia h1{   
    height: 28vh;
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.hero-banner-ia p{
    margin-top: -100px;
    color: white;
}

.hero-banner-ia button{   
    position: relative;
    margin-top: 70px;
    color: white;
    font-size: 18px;
    background: none;
    border: 2px solid white;
    border-radius: 4px;
    width: 240px;
    height: 80px;
    transition: 0.6s;
    overflow: hidden;
}

.hero-banner-ia button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.section-ag{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
}

.section-ag h1{
    font-size: 50px;
    color: #e87146;
}

.section-ag .txt-1{
    font-size: 25px;
    margin-top: 70px;
    margin-left: 20px;
    white-space: pre-line;
}

.section-ag img{
    height: 700px;
    width: 700px;
    margin-left: 20px;
    margin-top: 40px;
}

.section-ag, .section2-ag{
    display: inline-block;
}

.section2-ag{
    position: relative;
    top: -150px;
}

.section2-ag h1{
    margin-bottom: 50px;
    color: #e87146;
}

.section2-ag p{
    margin-bottom: 40px;
    white-space: pre-line;
    font-size: 20px;
}

.section2-ag img{
   
    position: relative;
    top: 200px;
    margin-left: 40px;
    height: 350px;
   
}

.footer-ag{
    position: absolute;
    bottom: -1080px;
    height: 90px;
    width: 100%;
    background-color: #484548;
    padding: 20px 0px;  
}

.footer-cl{
    position: absolute;
    bottom: -700px;
    height: 90px;
    width: 100%;
    background-color: #484548;
    padding: 20px 0px;  
}


.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}


.card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}
  
 
.card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
  
.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}
  

.card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}
  
.card-titulo {
    font-size: 32px;
    margin: 15px 0;
}
  
.card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
}
  

.card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
}
  
.card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}
  
